/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

  body{
  font-family: 'Noto Sans TC', sans-serif;
}

  .large-padding-40{
    padding:0 40px;
  }

  .large-padding-60{
    padding:0 60px;
  }
  .large-padding-100{
    padding:0 100px;
  }


  .large-padding-200{
    padding:0 200px;
  }


  #target p{
    font-size: 18px;
    line-height: 30px;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;
  }

  .large-word{
    font-size: 16px;
    line-height: 24px;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;
  }
  .large-ul{
    font-size: 12px;
    line-height: 24px;
    list-style:none;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;
  }

 #lab{
    zoom: 90%;
  }

  #labdeatil .list-group-item{
    font-size: 14px;
  }


}

@media (min-width: 1290px) {

   #lab{
    zoom: 120%;
  }

  #labdeatil{
    padding: 2px;
    zoom: 120%;

  }
  #labdeatil .list-group-item{
    font-size: 22px;
  }

  .large-padding-200{
    padding:0 400px;
  }

  .large-word{
    font-size: 22px;
    line-height: 34px;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;
  }

  #his .card-body{
    padding: 20px;
    zoom: 120%;
  }
  .large-ul{
     font-size: 22px;
  }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {


  .large-word{
    font-size: 12px;
    line-height: 20px;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;
  }
  .large-ul{

    list-style:none;
    font-size: 10px;
    font-weight: none;
    font-family: 'Noto Sans TC', sans-serif;

  }

  .samll-padding{
     padding: 0 10px;
  }

  .info p{
    font-size: 14px;
  }

  .small-img{
    width: 300px;
    height: 300px;
  }

  #labdeatil .list-group-item{
    font-size: 14px;
  }

}

@media (min-width: 400px) and (max-width: 768px) {

  .logodiv{
    margin-left: 60px;
  }

  #labdeatil img{
   width: 200px;
   height: 200px;
  }


}
